.enlargemodal_backdrop {
  background: rgba(0, 0, 0, 0.6);
  z-index: 110;
}
.enlargemodal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: white;
  z-index: 120;
}
