.notebooklist_main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* 3개의 열을 생성 */
    gap: 16px 15.79px;
    margin-top: 16px;

}



.notebooklist_container {
    width: 272.14px;
    height: 160.98px;
    border: 1px solid rgba(117, 156, 255, 1);
    border-radius: 5px;
    background-color: rgba(240, 244, 255, 1);
    cursor: pointer;
}

.notebooklist_img {
    width: 248px;
    height: 160px;

}

.notebooklist_modal {
    width: 828px;
    height: 546px;


}

.purchaselist_modal {
    width: 828px;
    height: 80%;

}

.modal_scrollable {
    height: 120%;
    overflow-y: auto;


}

.modal_scrollable::-webkit-scrollbar {
    width: 2px;
}

.modal_scrollable::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background: #ccc;
}

.userlist_modalTitle {
    margin-bottom: 32px;
}

.notebook_modelContainer {
    display: flex;
    justify-content: center;
}

.notebook_rank_container {
    border-radius: 10.78px;
    border: 2.16px solid rgba(117, 156, 255, 1);
    background-color: rgba(240, 244, 255, 1);
    position: relative;
    width: 292px;
    height: 223px;
}

.notebook_img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.level_img {

    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(50%, 50%);
}

.des_container {
    margin-left: 33.84px;
    padding-top: 44px;

}

.notebook_title {
    font-size: 16px;
    line-height: 23px;
    font-family: "Pretendard-Regular";
    font-weight: 700;
    margin-bottom: 8px;
    margin-top: 0px;
}

.notebook_tag {
    width: 223px;
    height: 34px;
    font-size: 12px;
    line-height: 17px;
    font-family: "Pretendard-Regular";
    font-weight: 400;
    color: #808080;
}

.notebook_description {
    width: 233px;
    height: 40px;
    font-size: 14px;
    line-height: 20px;
    font-weight: "Pretendard-Regular";

}


.slide_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 66px;
    height: 62px;
}

.modal_arrow {
    width: 16px;
    height: 16px;

}

.img_slide_container {
    width: 104px;
    height: 62px;
    border-radius: 5px;
    border: 1px solid rgba(117, 156, 255, 1);
    position: relative;
    margin-left: 8px;

}

.img_slide_container:nth-child(5) {
    margin-right: 8px;

}

.aspect_laptop {
    width: 104px;
    height: 62px;
}

.detailList_modal {
    top: 398px;
    z-index: 999;
    width: 731px;
    height: 432px;



}