.userlist_modal {
    width: 828px;
    height: 522px;
}

.modal_context {
    width: 722px;
    height: 411px;
    margin-left: 53px;
    padding-right: 53px;
    margin-top: 56px;
    padding-bottom: 1000px;
}

.userlist_modalTitle {
    font-size: 24px;
    line-height: 34.56px;
    font-family: "Pretendard-Regular";
    font-weight: 700;
    margin-top: 0px;
}

.userlist_label {
    display: block;
    font-size: 16px;
    line-height: 23px;
    font-family: "Pretendard-Regular";
    font-weight: 500;
}

.userlist_input {
    width: 661px;
    height: 19px;
    border: 1px solid #b3b3b3;
    border-radius: 5px;
    padding: 15px 30px;
    margin-top: 2px;
    margin-bottom: 8px;
}

.modal_cancel {
    width: 20px;
    height: 20px;
    padding: 1.25px;
    margin-top: 2px;
    margin-left: auto;

    cursor: pointer;
}