.imgslide {
  width: 30.5rem;
  height: 3.875rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5.270625rem;
}
.imgslide_arrow {
  width: 1rem;
  height: 1rem;
}
.imgslide_img {
  width: 6.5rem;
  height: 3.875rem;
  border: solid 1px #759cff;
  border-radius: 5px;
}
@media (max-width: 768px) {
  .imgslide {
    width: 23.101875rem;
    height: 2.8175rem;
    margin-top: 1.75rem;
    position: absolute;
    left: 0;
    bottom: 0;
  }
  .imgslide_arrow {
    width: 0.726875rem;
    height: 0.726875rem;
  }
  .imgslide_img {
    width: 4.72625rem;
    height: 2.8175rem;
  }
}
