div {
    text-align: center;
    font-family: "Pretendard-Regular";
}

h1 {
    margin-top: 151px;
}

form {
    margin-top: 43px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input_id {
    width: 527px;
    margin-right: 8px;
}

.double_check {
    width: 187px;
    height: 50px;
    border-radius: 5px;
    color: white;
    background-color: #4F80FF;
    border: 0.0625rem solid #4F80FF;
    font-size: 16px;
}

input {
    width: 722px;
    height: 46px;
    border-radius: 5px;
    border: 1px solid #4F80FF;
    padding-left: 1rem;
    font-family: "Pretendard-Regular";
    margin-bottom: 35px;
    margin-top: 4px;
}

.buttons {
    margin-top: 2px;
}

label {
    width: 100px;
    font-size: 16px;
    text-align: left;
    display: inline-block;
    margin-right: 640px;
    font-family: "Pretendard-Regular";

}

.reset_button {
    width: 160px;
    height: 40px;
    margin-right: 4px;
    border-radius: 5px;
    color: #4F80FF;
    background-color: white;
    border: 0.0625rem solid #4F80FF;
    font-size: 14px;

}

.signup_button,
.next_button {
    width: 160px;
    height: 40px;
    margin-left: 4px;
    border-radius: 5px;
    color: white;
    background-color: #4F80FF;
    border: 0.0625rem solid #4F80FF;
    font-size: 14px;

}

.password_mismatch {
    color: red;
    margin-top: -31px;
    margin-bottom: 24px;
    margin-right: 505px;
    font-size: 12px;
}

.isuserid_available {
    color: #759CFF;
    margin-top: -31px;
    margin-bottom: 24px;
    margin-right: 617px;
    font-size: 12px;
}

.invalid_email {
    color: red;
    margin-top: -31px;
    margin-bottom: 24px;
    margin-right: 515px;
    font-size: 12px;
}

button {
    cursor: pointer;
}

::placeholder {
    color: #B3B3B3
}

@media (max-width: 768px) {
    h1 {
        margin-top: 93px;
        font-size: 24px;
    }

    form {
        margin-top: 24px;
    }

    .input_id {
        width: 238.35px;
    }

    input {
        width: 350px;
        margin-right: 0;
        margin-top: 4px;
        margin-bottom: 35px;
    }

    label {
        margin-right: 268px;
    }

    .password_mismatch {
        margin-right: 131px;
    }

    .isuserid_available {
        margin-right: 245px;
    }

    .invalid_email {
        margin-right: 145px;
    }

    .double_check {
        width: 102px;
        height: 50px;
    }

    .reset_button,
    .signup_button,
    .next_button {
        width: 180.49px;
    }

    .buttons {
        margin-top: 248px;
    }
}